### Introduction to variables in python

In [1]:
my_name = 'Neville Mak'
my_age = 64
my_message = 'Hello Word'

In [2]:
print(f'Hello, my name is {my_name}, and I am {my_age} years old.')
print(len(my_message))
print(my_name[0:3])

Hello, my name is Neville Mak, and I am 64 years old.
10
Nev

In [3]:
print(my_name.upper())
print(my_name.title())
print(my_name.count('e'))
print(my_name.count('nev'))
print(my_name.find('nev'))
print(my_name.find('Mak'))

NEVILLE MAK
Neville Mak
2
0
-1
8

In [4]:
new_name = my_name.replace('Mak', 'Kaf')
message = f'{new_name.upper()} am {my_age} years old, my older name was {my_name}'

In [5]:
print(f'my new name as been modified to {new_name}')
print(message)

my new name as been modified to Neville Kaf
NEVILLE KAF am 64 years old, my older name was Neville Mak

In [6]:
print(dir(my_name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [7]:
help(str.title)

Help on method_descriptor:

title(self, /) unbound builtins.str method
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

##### Workin with Numeric Data

<i>basically, we have Intger and Floot data type</i>

In [8]:
num = 3//2
print(num)

1

In [9]:
num_1 = '100'
num_2 = '200'

In [10]:
print(int(num_1) + int(num_2))

300

Working with list

In [17]:
courses =['History', 'Math', 'Geo']
courses.append('Physics')
courses.insert(0, 'Algebra')
courses.extend(['Science','English'])

In [18]:
print(courses)

['Algebra', 'History', 'Math', 'Geo', 'Physics', 'Science', 'English']

In [25]:
courses.sort()
print(courses)

['Algebra', 'English', 'Geo', 'Math', 'Physics', 'Science']

In [29]:
for c in courses:
    if 'e' in c:
        continue
    print(c.upper())

ENGLISH
MATH
PHYSICS

In [34]:
for i,c in enumerate(courses):
    print(f'the course {c} is loated at index {i}')

the course Algebra is loated at index 0
the course English is loated at index 1
the course Geo is loated at index 2
the course Math is loated at index 3
the course Physics is loated at index 4
the course Science is loated at index 5

Working with Dictionaries

In [37]:
students = {
    'name': 'Neville',
    'age': 64,
    'courses': ['History', 'Math', 'Geo']
}

In [45]:
print(students['name'])
print(students.get('name'))
print(students.get('phone', 'Key not available'))#whant to do if the key is not available

Neville
Neville
Key not available

In [46]:
for keys, values in students.items():
    print(keys, values)
print(students.keys())

name Neville
age 64
courses ['History', 'Math', 'Geo']
dict_keys(['name', 'age', 'courses'])