### Introduction to variables in python

In [1]:
my_name = 'Neville Mak'
my_age = 64
my_message = 'Hello Word'

In [2]:
print(f'Hello, my name is {my_name}, and I am {my_age} years old.')
print(len(my_message))
print(my_name[0:3])

Hello, my name is Neville Mak, and I am 64 years old.
10
Nev

In [5]:
print(my_name.upper())
print(my_name.title())
print(my_name.count('e'))
print(my_name.count('nev'))
print(my_name.find('nev'))
print(my_name.find('Mak'))

NEVILLE MAK
Neville Mak
2
0
-1
8

In [12]:
new_name = my_name.replace('Mak', 'Kaf')
message = f'{new_name.upper()} am {my_age} years old, my older name was {my_name}'

In [13]:
print(f'my new name as been modified to {new_name}')
print(message)

my new name as been modified to Neville Kaf
NEVILLE KAF am 64 years old, my older name was Neville Mak

In [14]:
print(dir(my_name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [18]:
help(str.title)

Help on method_descriptor:

title(self, /) unbound builtins.str method
    Return a version of the string where each word is titlecased.

    More specifically, words start with uppercased characters and all remaining
    cased characters have lower case.

##### Workin with Numeric Data

<i>basically, we have Intger and Floot data type</i>

In [21]:
num = 3//2
print(num)

1

In [22]:
num_1 = '100'
num_2 = '200'

In [24]:
print(int(num_1) + int(num_2))

300

Working with list

In [26]:
courses =['History', 'Math', 'Geo']

In [29]:
print(courses[2])

Geo